<html>
{% load staticfiles %}
<link rel="stylesheet" type="text/css" href="{% static 'labelapp/custom.css' %}" />

<script
        src="https://code.jquery.com/jquery-1.12.4.min.js"
        integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ="
        crossorigin="anonymous">
</script>
<script src="{% static 'labelapp/custom.js' %}"></script>

<body>
  <h2> Document </h2>
  <div id="display" class="textdisplay"></div>

<hr></hr>
  <div id="selected-sentence"></div>
  <input id="split_sentence" value="Split Sentence" type="button" onclick="splitSentence(selected_word_id)"></input>

  <div id="classification">

    <table>
      <thead>
        <tr id="table-headings"></tr>
      </thead>

      <tbody id="classification_selection">
        <form id="paradigms">
          <tr id="classification1"></tr>
      </tbody>
    </table>
        <input id="add_classification" type="button" onclick="addClassification('#classification_selection');" value="Add Classification"></input>
        <input id="confirm" type="button" onclick="paradigm_classify()" value="Confirm Paradigm"></input>
      </form>

  </div>
</body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js" type="text/javascript"></script>
<script>

  window.paradigms = ["Positivism", "Postpositivism","Interpretivism/Constructivisim","Critical Theories","Participatory Paradigm"];
  window.classify_number = 1;
  window.selected_word_id = undefined;

  //highlighting the entire selected sentence on click
  document.onclick = function(e) {
      if (e.target.className === 'click') {
          //clear the previously selected word
          selected_word_id = undefined;
          classify_number = 1;

/////////////////////////////////////////////////////////////////////////////////////////////////////////////

          var heading_html = "<th></th>";

          for (var i=0; i < paradigms.length; i++){
            heading_html += "<th id='" + paradigms[i] + "'>" + paradigms[i] + "</th>";
          }
          $("#table-headings").html(heading_html);

          addTableRowRadio("#classification1","Classification #1", paradigms);

          var sentence_id = e.target.id;
          SelectText(sentence_id);
          var sentence_text = sentences[sentence_id-1]["sentence"];
          var words = sentence_text.split(" ");

          //clear previous text
          $("#selected-sentence").html("");

          for (var i=0; i < words.length; i++){
            $("#selected-sentence").append("<a id=" + sentence_id.toString().concat(".".concat(i.toString())) + " class='xyz'> " + words[i] + "</a>");
          }
      }

/////////////////////////////////////////////////////////////////////////////////////////////////////////////


      if (e.target.className === 'xyz'){
          selected_word_id = e.target.id;
          console.log(selected_word_id);
          SelectText(selected_word_id);
      }
  };

  $(document).ready(function() {

  //creating the classification table
  var heading_html = "<th></th>";

  for (var i=0; i < paradigms.length; i++){
    heading_html += "<th id='" + paradigms[i] + "'>" + paradigms[i] + "</th>";
  }
  $("#table-headings").html(heading_html);

  addTableRowRadio("#classification1","Classification #1", paradigms);

  //declaring the incoming text data
  window.sentences = {{ paper|safe }};
  console.log(sentences)

  //displaying the text into a div
  for (var i=0; i < sentences.length; i++){
    $("#display").append("<a id=" + sentences[i].id.toString() + " class='click'> " + sentences[i].sentence + ".</a>");
  }


  });

</script>
</html>
